@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
        </div>

        <article class="content p-4 mb-4">
            @Body
        </article>

        
        <div class="position-absolute bottom-0 end-0 mx-2 mt-4 pt-4">
            <p class="text-end m-2">
                Webbplats skapad av <a href="mailto:lier2209@student.miun.se">Linn Eriksson</a> som en del av <a href="https://www.miun.se/utbildning/kursplaner-och-utbildningsplaner/DT191G/">Webbutveckling med .NET</a>.
            </p>
        </div>
    </main>

  
</div>
