@page "/"

<PageTitle>Start</PageTitle>

<h1>Välkommen!</h1>

<p>Jag heter Linn Eriksson och detta är andra laborationen i kursen "Webbutveckling med .NET". Laboration 2 handlar om blazor.</p>

<p>I uppgiften ska man hämta data ur en JSON-fil eller ett api, jag har valt att hämta nyheter från ett öppet api som tillhandahålls av Krisinformation.se. Dokumentationen för detta api kan hittas <a href="https://api.krisinformation.se/v3">här</a>.</p>
